* {
  padding: 0px;
  margin: 0px;
  font-family: "Roboto", sans-serif;
}
#navbar {
    overflow: hidden;

    position: fixed;
    top: 0;
    width: 100%;
}
#navbar ul {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: white;
}

#navbar h3 {
  margin: 0px 10px;
}
#navbar ul li:nth-child(3) {
  margin: 0px 20px 0px 850px;
}
#navbar ul li {
  margin: 10px 5px;
  list-style: none;
  text-decoration: none;
}
#searchBtn,
#search {
  padding: 10px;
  border-radius: 7px;
}
#searchBtn {
  padding: 10px 15px;
  background-color: #343a40;
  border: 2px solid green;
  color: green;
}
#searchBtn:hover {
  color: white;
  cursor: pointer;
  background-color: green;
}

#mainContainer {
  margin: 5px 120px;
}
#mainSection {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
#mainContainer h1 {
  font-size: 2.5rem;
  margin: 100px 0px 15px 0px;
}
.box {
  border: 1px solid #7c6d6d91;
  border-radius: 5px;
  margin: 5px 0px 15px 0px;
}
#addText {
  width: 1050px;
  margin: 10px;
}
.box h3 {
  margin: 15px;
}
.box h4 {
  margin: 10px;
}
#addBtn {
  margin: 15px;
  padding: 10px 17px;
  color: white;
  background-color: rgb(3, 169, 244, 1);
  border: none;
  border-radius: 5px;
}
#addBtn:hover {
  cursor: pointer;
  background-color: rgb(5, 140, 202);
}
.delBtn:hover {
  cursor: pointer;
  background-color: rgb(0, 0, 0);
}
